@font-face {
  font-family: "Clash Display variable";
  src: url(./assets/fonts/ClashDisplay-Variable.ttf);
}

body {
  margin: 0;
  font-family: "Clash Display variable";
  color: #ebfaf4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a9ead2;
}

.button {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  background-color: #32cd94;
  color: #ebfaf4;
  box-sizing: border-box;
  border: 2px solid #32cd94;
  border: 0;
}

.button:hover {
  border: 2px solid #32cd94;
  color: #32cd94;
  background-color: #ebfaf4;
}

::-webkit-scrollbar {
  padding-top: 4px;
  background-color: hsl(158, 61%, 90%);
  border-radius: 8px;
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(158, 61%, 70%);
  border-radius: 8px;
}